html{
  
scroll-behavior: smooth;
}
body {
margin: 0;
padding: 0;
}
*{

}
.img{
    position: relative;
    top: 0;
    left: 0;
}
.frame{
    position: relative;
  top: 0;
  left: 0;
    z-index: 1;
}
.picture{
  
  left: 20px;
  color: transparent;
  position: absolute;
  padding-right: 40px;
  top: 85px;
  height: 370px;
  z-index: 1;
}
.section-1, .navbar{

  background-image: linear-gradient(to right,#ff4d4d,#ac00e6);
}
.section-2{

}
.section-3{

}
.section-4{

}
.section-5{
  opacity: 90%;
}
.section-5:hover{
  opacity: 100%;
}
a:hover{
  color:white;
}
button:hover{
  background-color: #fdcc52;
  transition: 300ms;
  
}
button{
  border-radius: 20px;
}
i{
  
}
.icon{
  color: #ac00e6;
  font-size: 50px;
}
.new-age {
    font-family: 'Mulish', Helvetica, Arial, sans-serif;
    font-size: 30px;
  }
  .logo{
    max-width: 150px;
  }
  .discover{
    font-family: 'Mulish', Helvetica, Arial, sans-serif;
    font-size: 50px;
  }
  .google-play{
    font-size: 10px;
  }
  .start{
   width: 100%;

  }
  .centered {
    font-family: 'Catamaran',Helvetica, Arial, sans-serif;
    
    
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .centered-button:hover{
    background-color:#fdcc52 ;
    border:#fdcc52 ;
  }
  .centered-button{
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 300ms;
    transform: translate(-50%, -50%);
    
  }
  .friends{
    font-family: 'Catamaran',Helvetica, Arial, sans-serif;
    font-size: 40px;
  }
  .overlay{
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
  }
  .twitter{
    
    background-color:#00b8e6;
    border-radius: 100%;
    color:white;
    
  }
  .face{
    
    background-color:white ;
    border-radius: 100%;
    color:#24478f;
  }
  .google{
    
    background-color:#ff1a1a;
    border-radius: 100%;
    color:white ;
  }
  .nav-link{
    font-family:'Catamaran',Helvetica, Arial, sans-serif;
    font-size: 10px;
  }
  